.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}

.svg {
  cursor: url("https://upload.wikimedia.org/wikipedia/commons/1/1d/Five_petal_flower_icon.svg"),
    pointer;
}
