.container {
    padding: 120px 20px;
    text-align: center;
}

.button-arrow {

    .arrow-icon {
        overflow: visible;
        margin-left: 3px;
        width: 16px;
    }

    .arrow-head {
        transform: translateX(0);
        transition: transform 150ms ease-in-out;
    }

    .arrow-body {
        opacity: 0;
        transform: scaleX(1);
        transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
    }

    &:hover {
        .arrow-head {
            transform: translateX(5px);
        }

        .arrow-body {
            opacity: 1;
            transform: scaleX(2.8);
        }
    }

}

a:hover {
    opacity: 0.8;
}
